.banner {
  background-color: #1b1b1b;
}

.bannerContainer {
  max-width: 1080px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0% 0% 0% 0%;
  overflow: hidden;
}

.bannerSegmentContainer {
  object-fit: cover;
  align-items: center;
  justify-content: center;
  display: block;
  margin-left: auto;
}

.bannerSegmentImage {
  width: 8.33%;
  justify-content: center;
  overflow: hidden;
  
}

.bannerButtonContainer {
  position: absolute;
  top: 43.2%;
  align-items: center;
  justify-content: center;
  display: block;
  margin-left: auto;
  z-index: 10; 
}

.bannerButton {
  max-width: 1080px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  display: none;
  animation: fadeIn 5s;
}

.bannerButton:hover {
  cursor: pointer;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@media only screen and (max-width: 560px) {
  .banner {
    width: 100%;
  }

  .bannerContainer {
    min-height: 30vh;
    max-width: 100vw;
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
  }
}
